/* body {
    font-family: Lao Muang Khong, Georgia;
    background-image: url(imag/Zinc.jpg);
    background-repeat: repeat-x;
    margin: 0;

} */

.containerone {
    font-size: 80%;
    color: azure;
    font-style: italic;
    display: flex;
    align-items: center;
    padding: 10px;
}
.containerone img {
    width: 50px;
    height: 5%;
    margin-right: 10px;
}

.logo {
    margin-right: 10px; border-radius: 15px;
    max-width: 30%;
    object-fit: cover;
    object-position: bottom;
    box-shadow: 0 8px 8px 0 rgb(13, 129, 129);
}




.header {
    background-color: #BE93C5;
        background: -webkit-linear-gradient(to right, #7BC6CC, #BE93C5);
        background: linear-gradient(to right, #7BC6CC, #BE93C5);
        position: fixed;
        width: 100%;
        z-index: 1;
    
}

.header a {
    list-style: none;
    text-decoration: none;
    color: azure;
}

.text-logo{
    font-size: large;
}

.navbar {
    display: inline-flex;

}

.navbar ul {
    font-size: 120%;
    list-style: none;
    display: inline-flex;
    padding: 0 80%;
    
}

li{
    margin: 20px;
}


.navbar ul li a {
    display: block;
    border-radius: 5%;
    transition: all 0.4s linear;
    padding: 0;

}

.navbar ul li a:hover {
    background-color: rgb(157, 52, 255);
    border-radius: 10%;
    padding: 10px;
    cursor: pointer;

}
#lista {
    display: none;
}


.imglista {
    cursor: pointer;
    display: none;
    width: 10px;
    height: 10px;
}

.btn {
    border: solid;
    padding: 10px 10px;
}

    
@media(max-width: 768px) {
    .navbar ul {
        display: none;
        
    }   
    .imglista{
        display:block;
        padding-left: 40%;
        
        

    }


}
