/* body {
    font-family: Lao Muang Khong, Georgia;
    background-image: url(imag/Zinc.jpg);
    background-repeat: repeat-x;
    margin: 0;

} */

.containerone {
    font-size: 80%;
    color: azure;
    font-style: italic;
    display: flex;
    align-items: center;
    padding: 10px;
}
.containerone img {
    width: 10%;
    height: 5%;
    margin-right: 10px;
}




.header {
    background: rgb(21, 146, 196);
    
}

.header a {
    list-style: none;
    text-decoration: none;
    color: azure;
}

.text-logo{
    font-size: large;
}

.navbar {
    display: inline-flex;

}

.navbar ul {
    font-size: 120%;
    list-style: none;
    display: inline-flex;
    padding: 0 5%;
}

li{
    margin: 20px;
}

.menu {
    margin-left: 90%;
}

.navbar ul li a {
    display: block;
    border-radius: 5%;
    transition: all 0.4s linear;
    padding: 0;

}

.navbar ul li a:hover {
    background-color: rgb(194, 166, 221);
    border-radius: 10%;
    cursor: pointer;

}

#lista {
    display: none;
}

.imglista {
    cursor: pointer;
}

    
