footer{
    width: 100%;
    background-image: url("imag/blue.jpg");
    color: white;
    border-radius: 2%;
    text-align: center;
}

.redes{
    padding: 1%;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.15);
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}
.fa {
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.15);
    padding: 1%;
    font-size: 3%;
    width: 3%;
    text-align: center;
    text-decoration: none;
    margin: 2px 2px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background:rgba(13, 129, 129, 0.72);
    color: white;
  }
  
  .fa-twitter {
    background:rgba(13, 129, 129, 0.72);
    color: white;
  }
  
  .fa-linkedin {
    background:rgba(13, 129, 129, 0.72);
    color: white;
  }
  
  .fa-youtube {
    background:rgba(13, 129, 129, 0.72);
    color: white;
  }
  
  .fa-instagram {
    background: rgba(13, 129, 129, 0.72);
    color: white;
  }

  
  .footer__texts{
    padding: 2%;
    font-family: Lao Muang Khong;
  }
  


  @media  (max-width: 760px) {
    
    footer{
      width: 100%;
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      padding: auto;
    }
    }